.campo-cronometro {
    position: absolute;
    left: 252px;
    top: 2em;
    font-size: 40px;
    border-style: inset;
    padding: 112px 225px 112px 225px;
    background-color: cadetblue;
    border-radius: 5px;
}

.contador {
    font-size: 100px;
}

.campo-valor {
    font-size: 24px;
    border-radius: 4px;
    border-style: unset;
    background-color: #f8f9fa;
}

.botao-iniciar {
    font-size: 22px;
    border-radius: 5px;
    border-style: unset;
    background-color: #f8f9fa;
}
.botao-parar {
    font-size: 22px;
    border-radius: 5px;
    border-style: unset;
    background-color: #f8f9fa;
}
.botao-reiniciar {
    font-size: 22px;
    border-radius: 5px;
    border-style: unset;
    background-color: #f8f9fa;
}